body {
  background-color: rgb(1, 123, 139);
  font-family: Roboto,Arial;
  font-size: 15px;
  color: white;
  padding-top: 200px;
}

.main {
  height: 60%;
  min-width: 400px;
  width: 600px;
  background: white;
  position: relative;
  color: darkslategrey;
}
.score {
  padding: 5px 3px;
  font-weight: 700;
}